<div class="mail_quote_A70AAC53268E4CB9A4B56006E0F2D715" style="font: 14px/1.5 'Lucida Grande';color:#333;">
<p class="15" align="center" style="text-align:center;">
<span style="font-family: 微软雅黑; font-size: 22pt;">
还会</span>
<span style="font-family: Helvetica; font-size: 22pt;">
<font face="微软雅黑">
来</font>
2016</span>
<span style="font-family: 微软雅黑; font-size: 22pt;">
年感恩</span>
<span style="font-family: Helvetica; font-size: 22pt;">
<font face="微软雅黑">
真情相伴</font>
</span>
<span style="font-family: Helvetica; font-size: 22pt;">
<o:p>
</o:p>
</span>
</p>
<p class="15" align="center" style="text-align:center;">
<span style="font-family: 微软雅黑; font-size: 16pt;">
<font face="微软雅黑">
年底大丰收，好礼</font>
“双响炮”</span>
<span style="font-family: Helvetica; font-size: 16pt;">
<o:p>
</o:p>
</span>
</p>
<p class="15">
<span style="font-family: Helvetica; font-size: 22pt;">
&nbsp;</span>
</p>
<p class="15">
<span style="font-family: 微软雅黑; font-size: 14pt;">
　</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
尊敬客户</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
您好！</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
<o:p>
</o:p>
</span>
</p>
<p class="MsoNormal" align="justify" style="padding:0pt 0pt 0pt 0pt ;mso-layout-grid-align:none;text-autospace:none;text-align:justify;text-justify:inter-ideograph;">
<span style="font-family: 微软雅黑; font-size: 12pt;">
　　</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
&nbsp;<font face="微软雅黑">
还会来</font>
</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
年底</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
<font face="微软雅黑">
感恩真情回馈活动将于</font>
2016</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
年</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
12</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
月</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
正式</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
上线</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
。</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
还会</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
来感谢</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
您</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
一路风雨陪伴，真情相随。现借</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
年终</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
岁尾，</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
辞旧迎新</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
<font face="微软雅黑">
之际，推出</font>
2016</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
年</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
12</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
月</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
多重好礼回馈活动，</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
真心感恩新老朋友</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
们</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
。</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
数量有限，</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
先到</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
先得！</span>
<span style="font-family: 微软雅黑; font-size: 12pt;">
<o:p>
</o:p>
</span>
</p>
<p class="15">
<span style="font-family: 微软雅黑; font-size: 14pt;">
&nbsp;</span>
<img src="/cgi-bin/viewfile?f=BBCA6329545CD616BD0A8F4EC94C1CF624D34C6A9EACF8E26129CBFED59323C8481B65AA21A866C19CEC4139D93A80E5EAB71E3EA5D7B468728E0BFB9920D765781058F1359317D1F261146CE64FFE1F7CF46E248994DFB87A75F1AE98E0797B&amp;usewmcache=1&amp;sid=av4H_3-lmFxjrDdv,7" style="line-height: 1.5; width: 554px; height: 263px;" modifysize="100%">
</p>
<p class="15">
<img src="/cgi-bin/viewfile?f=BBCA6329545CD616BD0A8F4EC94C1CF624D34C6A9EACF8E26129CBFED59323C8481B65AA21A866C19CEC4139D93A80E5EAB71E3EA5D7B468524B143AB5180614727F2A51FECFE4A47A15C7301C429CF39E56F85F84BE61AEDB1361999637578D&amp;usewmcache=1&amp;sid=av4H_3-lmFxjrDdv,7" modifysize="100%" style="width: 554px; height: 259px;">
</p>
<p class="MsoNormal">
<span style="font-family: 'Times New Roman'; font-size: 12pt;">
&nbsp;</span>
</p>
<p class="MsoNormal">
<span style="font-family: 微软雅黑; font-size: 10pt;">
以上</span>
<span style="font-family: 微软雅黑; font-size: 10pt;">
活动，更多详细情况，</span>
<span style="font-family: 微软雅黑; font-size: 10pt;">
请查询</span>
<span style="font-family: 微软雅黑; font-size: 10pt;">
附件活动细则。</span>
<span style="font-family: 微软雅黑; font-size: 10pt;">
<o:p>
</o:p>
</span>
</p>
</div>

