<br>
<div> <%= @mail_info %></div>
<br>

<%= render 'common/table_striped', result: @consumer %>
<%= render 'common/table_striped', result: @price_ticket_send %>
<%= render 'common/table_striped', result: @booking %>

